# glob regex
.w3m/cookie
.w3m/history
*w3mtmp*
*w3mcache*
*mozilla*
*viminfo*
*xorg/
*.xbel
.java/
.lesshst
*.swp
*.swo
.cache/
.bash_logout
.bash_history
.android/
.Xauthority
.AndroidStudio*/
*dconf/
*.tmp
code/
.gradle/
.config/.gsd-keyboard.settings-ported
.config/csde
.config/evolution
.config/gtk-*
.config/gnome-*
.config/google-cloud-tools-java
.config/helm
.config/ibus
.config/jgit/
.config/mimeapps.list
.config/monitors.xml
.config/pulse
.config/user-dirs.*
.config/zoom.conf
.config/zoomus.conf
.docker
.kube
.local/bin/
.local/share/fonts/.uuid
.local/share/session_migration-ubuntu
.local/share/applications
.local/share/evolution
.local/share/flatpak
.local/share/gnome-s*
.local/share/gvfs-metadata
.local/share/keyrings
.local/share/nautilus
.local/share/ibus-table
.local/share/xonsh
.local/share/icc
.npm
.m2
.parallel
.pki
.w3m/w3msrc*
.wget-hsts
git_dle_certs.crt
lib
cybermec-estonia-demonstration
.vmware
.sudo_as_admin_successful
.python_history
.sqlite_history
vm
snap
.zoom
Documents
Desktop/
Downloads
misp*
Session.vim
.vim/netrwhist
.vim/.netrwhist
*.swm
*.swn
.local/share/zathura/
.local/share/nvim/
