# want vi to be the default editor for readline
set editing-mode vi
set bell-style none

# vi settings
$if mode=vi
    set keymap vi-insert
#"ll.": "para\C-vl\C-vlel -j1 ''"
    "ll.": "parallel -j1 ''"
    "py.": "python3 "
    "pym.": "python3 -m "
    "pyp.": "python3 -m pip "
    "pyi.": "pyp. install -t pylib "
    "pyw.": "pyp. wheel "
    "pyl.": "pyp. list "
    "paci.": "sudo pacman -Syu "
    "pacs.": "sudo pacman -Ss ''"
    "pacq.": "sudo pacman -Qi ''"
    "pacr.": "sudo pacman -R ''"
    "g.": "grep -i -E -r '' ."
    "fg.": "grep -i -F -r '' ."
    "f.": "find . -iregex '.*.*'"
    "s.": "sed -r -e 's///g'"
    "gpp": "g++ "
    "du.": "du -h -d0 ."
    "df.": "df -h"
    "less.": "less -i --mouse"
    "rm.": "rm -r ."
    "cp.": "cp -r . ."
    "h.": "~/"
    " p ": " | "
    "and ": " && "
    "or ": " || "
    "grp ": "[  ]"
    #";": "-"
    #";.": "\;"
    #set keyseq-timeout 0
    # normal mode
    set keymap vi-command
    #" s": backward-char
    #" w": forward-char
#
#" q":  !
#" w":  @
" e": "#"
" r": "$"
" t": "%"
" y": "^"
" u": "~"
#" i":  *
#" o":  {
#" p":  }
#
#" a": 
#" s": 
#" d": 
#" f": 
#" g": 
#" h":  <<
#" j":  (
#" k":  )
#" l":  >>
#" ;":  :
"s": "c"
"S": "C"
#
#" z": 
#" x": 
#" c": 
#" v": 
#" b":  :b#<CR>
#" n":  =
#" m":  `
#" ,":  '
#" .":  "
" /": "?"
#
#gt g~
#gi [I
"gy": upcase-word
"gu": downcase-word
"R": overwrite-mode
#
"  ": accept-line



    # insert mode
    #set keymap vi-insert
    #"jj": vi-movement-mode # remap escape
$endif
