# want vi to be the default editor for readline
set editing-mode vi
set bell-style none
set show-all-if-ambiguous on
#set menu-complete-display-prefix on
set keyseq-timeout 0
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on


# vi settings
$if mode=vi
    set keymap vi-insert
    #"ll;": "bash /tmp/a.sh\C-j"
    "sd.ll": "parallel -j1 ''"
    "sd.lln": "parallel -j1 -N10000 ''"
    "sd.p": "python3"
    "sd.pm": "python3 -m"
    "sd.pi": "python3 -m pip install -t dependencies/python"
    "sd.pir": "python3 -m pip install -t dependencies/python -r requirements.txt"
    "sd.pl": "python3 -m pip list"
    "sd.llre": "parallel -j4 -N10000 'grep -iE \"\"'"
    "sd..": "--help "
    "sd.re": "grep -iIE ''"
    "sd.rer": "grep -iIE -r '' ."
    "sd.f": "find . -iregex '.*.*'"
    "sd.ff": "find . -type f -iregex '.*.*'"
    "sd.si": "sed -r -e 's///g'"
    "sd.du": "du -h -d0 ."
    "sd.df": "df -h"
    "sd.col": "column -c0 -t -s','"
    "sd.cu": "cut -f"
    "sd.cus": "cut -d' ' -f"
    "sd.ti": "/usr/bin/time -f '%es %Mkb %P'"
    "sd.uq": "sort | uniq -c | sed -r 's/^\s+//' | sort -n -k1,1"
    "os.i": "sudo pacman -Syu "
    "os.s": "sudo pacman -Ss ''"
    "os.q": "sudo pacman -Qi ''"
    "os.u": "sudo pacman -R ''"
    "lessm": "less -i --mouse"
    "rmr": "rm -r "
    "cpr": "cp -r "
    "gpp": "g++ "
    " aa ": " && "
    " oo ": " || "
    " pa ": "[  ]"
    #TAB: menu-complete
    #";": "-"
    #";.": "\;"
    #set keyseq-timeout 0
    # normal mode
    set keymap vi-command
    #" s": backward-char
    #" w": forward-char
#
#" q":  !
#" w":  @
" e": "#"
" r": "$"
" t": "%"
" y": "^"
#" i":  *
#" o":  {
#" p":  }
#
#" a": 
#" s": 
#" d": 
#" f": 
#" g": 
#" h":  <<
#" j":  (
#" k":  )
#" l":  >>
#" ;":  :
"s": "c"
"S": "C"
#
#" z": 
#" x": 
#" c": 
#" v": 
#" b":  :b#<CR>
#" n":  =
#" m":  `
#" ,":  '
#" .":  "
" /": "?"
#
#gt g~
#gi [I
" ku": upcase-word
" kd": downcase-word
"R": overwrite-mode
#
"  ": accept-line



    # insert mode
    #set keymap vi-insert
    #"jj": vi-movement-mode # remap escape
$endif
