*toolbar: false
*scrollBar: false
*borderWidth: 0
*VT100.geometry: 80x24
*selectToClipboard: true
*locale: true
*wideFont: -misc-fixed-medium-r-normal-ja-*-*-*-*-*-*-*-*
*allowBoldFonts: true
*.font:xft:fira code:regular:size=14
! change to light bg dark fg
*background: #222222
*foreground: #cccccc

URxvt.perl-ext-common: font-size,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
